<!DOCTYPE html>
<html>
  <head>
    <title>ConsumindoApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= link_to "Deaths", home_deaths_path %>
  <%= link_to "Confirmed", home_confirmed_path %>
  <%= link_to "Recovered", home_recovered_path %>
  <div class="container my-5">
    <%= yield %>
  </div>
    
  </body>
</html>
